/WindowsFormsApp1/BeforeInspection/bin/Debug/System.ValueTuple.xml
/WindowsFormsApp1/BeforeInspection/bin/Debug/BeforeInspection.exe
/WindowsFormsApp1/BeforeInspection/bin/Debug/BeforeInspection.exe.config
/WindowsFormsApp1/BeforeInspection/bin/Debug/BeforeInspection.pdb
/WindowsFormsApp1/BeforeInspection/bin/Debug/Npgsql.dll
/WindowsFormsApp1/BeforeInspection/bin/Debug/Npgsql.pdb
/WindowsFormsApp1/BeforeInspection/bin/Debug/Npgsql.xml
/WindowsFormsApp1/BeforeInspection/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/WindowsFormsApp1/BeforeInspection/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/WindowsFormsApp1/BeforeInspection/bin/Debug/System.Threading.Tasks.Extensions.dll
/WindowsFormsApp1/BeforeInspection/bin/Debug/System.Threading.Tasks.Extensions.xml
/WindowsFormsApp1/BeforeInspection/bin/Debug/System.ValueTuple.dll
/WindowsFormsApp1/BeforeInspection/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsFormsApp1/BeforeInspection/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApp1/BeforeInspection/obj/Debug/TempPE
/WindowsFormsApp1/BeforeInspection/obj/Debug/63e3eeb1-2163-4377-bb70-c3583db9282b_BeforeInspection.exe
/WindowsFormsApp1/BeforeInspection/obj/Debug/3363bd35-95be-4c1f-882a-c502718f7018_BeforeInspection.pdb
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.csproj.CopyComplete
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.csproj.FileListAbsolute.txt
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.csproj.GenerateResource.cache
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.csprojAssemblyReference.cache
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.exe
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.HinNoSelection.resources
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.Main.resources
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.pdb
/WindowsFormsApp1/BeforeInspection/obj/Debug/BeforeInspection.Properties.Resources.resources
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.ValueTuple.dll
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.ValueTuple.xml
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/UserMasterMaintenance.exe
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/UserMasterMaintenance.exe.config
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/UserMasterMaintenance.pdb
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/Npgsql.dll
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/Npgsql.pdb
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/Npgsql.xml
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.Threading.Tasks.Extensions.dll
/WindowsFormsApp1/UserMasterMaintenance/bin/Debug/System.Threading.Tasks.Extensions.xml
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.UserMasterMaintenance.resources
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.csproj.CopyComplete
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.csproj.FileListAbsolute.txt
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.csproj.GenerateResource.cache
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.csprojAssemblyReference.cache
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.exe
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.pdb
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.Properties.Resources.resources
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.UserEdit.resources
/WindowsFormsApp1/UserMasterMaintenance/obj/Debug/UserMasterMaintenance.UserImportCsv.resources
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/Npgsql.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/Npgsql.pdb
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/Npgsql.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Buffers.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Buffers.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Memory.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Memory.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Numerics.Vectors.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Numerics.Vectors.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Text.Encodings.Web.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Text.Encodings.Web.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Text.Json.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Text.Json.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Threading.Tasks.Extensions.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Threading.Tasks.Extensions.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.ValueTuple.dll
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.ValueTuple.xml
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/ImageChecker.exe
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/ImageChecker.exe.config
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/ImageChecker.pdb
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.exe
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.pdb
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker_Content.g.i.cs
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker_MarkupCompile.i.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker_MarkupCompile.i.lref
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/UserControl1.g.i.cs
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.ListInWpf.resources
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.csproj.CopyComplete
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.csproj.CoreCompileInputs.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.csproj.FileListAbsolute.txt
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.csproj.GenerateResource.cache
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug/ImageChecker.csprojAssemblyReference.cache
