<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- DB名 -->
      <add key="DBName" value="sas" />
      <!-- DB接続ユーザ -->
      <add key="DBUser" value="postgres" />
      <!-- DB接続ユーザパスワード -->
      <add key="DBUserPassword" value="password" />
      <!-- DBサーバ名 -->
      <add key="DBServerName" value="192.168.5.17" />
      <!-- DBポート -->
      <add key="DBPort" value="5432" />
      <!-- 号機 -->
      <add key="UnitNum" value="N4" />
      <!-- 接続先(IPアドレス) -->
      <add key="ConnectionPoint" value="192.168.160.36" />
      <!-- ドメイン -->
      <add key="Domain" value=".\sas_admin" />
      <!-- パスワード -->
      <add key="ConnectionPassword" value="p@ssw0rdnec12345" />
      
      
      
      
      <!-- 連携基盤部エラーファイル格納先 -->
      <add key="ErrorFileOutputPath" value="D:\CI\Alarm" />
      <!-- 反物情報_更新ステータス -->
      <add key="FabricInfoUpdateStatus" value="0" />
      <!-- 処理ステータス_更新ステータス -->
      <add key="ProcessingStatusUpdateStatus" value="0" />
      <!-- RAPID解析情報.RAPID解析結果_更新ステータス -->
      <add key="RapidAnalysisRapidResultUpdateStatus" value="0" />
      <!-- RAPID解析情報.端判定結果_更新ステータス -->
      <add key="RapidAnalysisEdgeResultUpdateStatus" value="0" />
      <!-- RAPID解析情報.マスキング判定結果_更新ステータス -->
      <add key="RapidAnalysisMaskingResultUpdateStatus" value="0" />
      <!-- 反物情報.ステータス_抽出条件(カンマ区切り) -->
      <add key="FabricInfoExtractionStatus" value="0,1,3,5,7,9,11" />
      <!-- 処理ステータス.ステータス_抽出条件(カンマ区切り) -->
      <add key="ProcessingStatusExtractionStatus" value="0,2,4,6,8,10" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>