<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- 連携基盤部エラーファイル格納先 -->
      <add key="ErrorFileOutputPath" value="\\192.168.5.17\Alarm" />
      <!-- 連携基盤部入力ファイル格納先 -->
      <add key="InputPath" value="\\192.168.164.10\if_files\CI" />
      <!-- 連携基盤部一時ファイル格納先 -->
      <add key="TempPath" value="D:\CI\temp\backup" />
      <!-- 連携基盤部行間枚数チェック用ファイル格納先 -->
      <add key="ImagecheckPath" value="D:\CI\temp\image_check" />
      <!-- 撮像完了通知フォルダ名 -->
      <add key="ScanInfoFolderName" value="ScanInfomation" />
      <!-- レジマーク読取結果フォルダ名 -->
      <add key="RegiMarkFolderName" value="RegistrationMarkFiles" />
      <!-- 行間枚数チェックファイルフォルダ名 -->
      <add key="CheckFolderName" value="CHECKED" />
      <!-- 復旧対象外エラーファイル名(カンマ区切り) -->
      <add key="RecoveryExemptErrorFileName" value="dummy,line,ng" />
      <!-- 号機 -->
      <add key="UnitNum" value="N4" />
      <!-- DB名 -->
      <add key="DBName" value="sas" />
      <!-- DB接続ユーザ -->
      <add key="DBUser" value="postgres" />
      <!-- DB接続ユーザパスワード -->
      <add key="DBUserPassword" value="p@ssw0rdnec12345" />
      <!-- DBサーバ名 -->
      <add key="DBServerName" value="192.168.5.17" />
      <!-- DBポート -->
      <add key="DBPort" value="5432" />
      <!-- 連携基盤部接続先(IPアドレス) -->
      <add key="ConnectionPoint" value="192.168.5.17" />
      <!-- 連携基盤部接続パスワード -->
      <add key="ConnectionPassword" value="p@ssw0rdnec12345" />
      <!-- 連携基盤部接続ユーザー -->
      <add key="ConnectionUser" value=".\sas_admin" />
      <!-- リトライ試行回数 -->
      <add key="RetryTimes" value="3" />
      <!-- リトライ待機時間(秒) -->
      <add key="RetryWaitSeconds" value="10" />
      <!-- 起動対象タスク名(カンマ区切り) -->
      <add key="TaskName" value="function_301 startup,function_302 startup.,function_304 startup.,function_306 startup.,function_307 startup.,function_310 startup.,function_311 startup." />
      <!-- チェック対象実行ファイル名(カンマ区切り) -->
      <add key="ExecutionFileName" value="function_301.exe,function_302.exe,function_304.exe,function_306.exe,function_307.exe,function_310.exe,function_311.exe" />
      <!-- 反物情報_更新ステータス -->
      <add key="FabricInfoUpdateStatus" value="0" />
      <!-- 処理ステータス_更新ステータス -->
      <add key="ProcessingStatusUpdateStatus" value="0" />
      <!-- RAPID解析情報.RAPID解析結果_更新ステータス -->
      <add key="RapidAnalysisRapidResultUpdateStatus" value="0" />
      <!-- RAPID解析情報.端判定結果_更新ステータス -->
      <add key="RapidAnalysisEdgeResultUpdateStatus" value="0" />
      <!-- RAPID解析情報.マスキング判定結果_更新ステータス -->
      <add key="RapidAnalysisMaskingResultUpdateStatus" value="0" />
      <!-- 反物情報.ステータス_抽出除外条件(カンマ区切り) -->
      <add key="FabricInfoExceptExtractionStatus" value="0,12,99" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>