<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <clear/>
        <add name ="ConnectionString"
         connectionString="Server=192.168.2.17;Port=5432;User ID=postgres;Database=postgres;Password=password;Enlist=true"/>
    </connectionStrings>
    <appSettings>
        <add key="UnitNum" value="N4"/>
    </appSettings>
</configuration>
