<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <!-- DB名 -->
        <add key="DBName" value="postgres"/>
        <!-- DB接続ユーザ -->
        <add key="DBUser" value="postgres"/>
        <!-- DB接続ユーザパスワード -->
        <add key="DBUserPassword" value="password"/>
        <!-- DBサーバ名 -->
        <add key="DBServerName" value="192.168.5.17"/>
        <!-- DBポート -->
        <add key="DBPort" value="5432"/>
        <!-- 号機 -->
        <add key="UnitNum" value="N4"/>
        <!-- 撮像装置部連携ディレクトリ -->
        <add key="ImagingDeviceCooperationDirectory" value="C:\撮像装置部連携ディレクトリ"/>
    </appSettings>
</configuration>
