<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <clear/>
        <add name ="ConnectionString"
         connectionString="Server=192.168.2.17;Port=5432;User ID=nec;Database=postgres;Password=password;Enlist=true"/>
    </connectionStrings>
    <appSettings>
        <!-- ログ出力ディレクトリ -->
        <add key="LogFileOutputDirectory" value="C:\ログファイル出力先"/>
        <!-- 処理区分：追加 -->
        <add key="ProcessTypeCre" value="C"/>
        <!-- 処理区分：更新 -->
        <add key="ProcessTypeUpd" value="U"/>
        <!-- 処理区分：削除 -->
        <add key="ProcessTypeDel" value="D"/>
    </appSettings>
</configuration>